<nav class="navbar navbar-light bg-light">
  <a routerLink="" class="navbar-brand">Home</a>
  
  <a routerLink="users" 
    routerLinkActive="active"
    class="nav-link"
  >Users</a>

  <a routerLink="dashboard" 
    routerLinkActive="active" 
    class="nav-link"
  >Dashboard</a>

</nav>

<!-- switch to the router outlet to see how navigation works -->
<router-outlet></router-outlet>

<!-- these are the components separately -->
<!-- <app-home></app-home> -->
<!-- <app-users></app-users> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-user-detail [id]="0"></app-user-detail> -->