<h3>All Images</h3>

<div *ngIf="images">
  <div class="row">
    <div *ngFor="let image of images; let i = index">
      <div class="col">
        <img
          src="{{image.data}}"
          alt=""
          class="picture"
          height="160px"
        >
        <div class="row">
          <div class="col-9">
            <p class="picture">{{image.info.description}}</p>
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-outline-warning btn-sm float-right" (click)='deleteImage(image._id)'>X</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!images || images.length === 0">
  <p>No images found. <a routerLink="/upload" href="#">Upload</a> an image first</p>
</div>