.bold {
  font-weight: 700;
}

.block {
  display: inline-block;
}

div.inline-edit {
  text-decoration: none;
  cursor: pointer;
  text-align: left;
  padding: 4px 10px;
  /* color: #444 !important; */
  /* width: auto; */
}

input {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 4px 10px;
}
