<div class="sticky-component">
  <div class="row">
    <div class="col">
      <h2>{{title}}</h2>
    </div>
  </div> 

  <div class="row">
    <div class="col-12">
      <!-- Debug: display editmode -->
      <!-- <p>Edit mode = {{ editMode | json }}</p> -->

      <form 
        *ngIf="user"
        #userDetailsForm="ngForm"
        name="form" 
        (ngSubmit)="userDetailsForm.form.valid && onSubmit()"
        novalidate
      >
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input 
            type="text"
            class="form-control"
            [(ngModel)]="user?.name.first"
            name="firstName"
            #firstName="ngModel"
            [ngClass]="{ 'is-invalid': firstName.invalid }"
            required
          />
          <div *ngIf="firstName.invalid" class="invalid-feedback">
            <div *ngIf="firstName.errors.required">First Name is required</div>
          </div>
        </div>
    
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            name="lastName"
            [(ngModel)]="user?.name.last"
            #lastName="ngModel"
            [ngClass]="{ 'is-invalid': lastName.invalid }"
            required
          />
          <div *ngIf="lastName.invalid" class="invalid-feedback">
            <div *ngIf="lastName.errors.required">Last Name is required</div>
          </div>
        </div>
    
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input
            type="email"
            class="form-control"
            name="inputEmail"
            [(ngModel)]="user.email"
            #inputEmail="ngModel"
            [ngClass]="{ 'is-invalid': inputEmail.invalid }"
            required
          />
          <div *ngIf="inputEmail.invalid" class="invalid-feedback">
            <div *ngIf="inputEmail.errors.required">Email is required</div>
            <div *ngIf="inputEmail.errors.email">Email must be a valid email address</div>
          </div>
        </div>

        <div class="form-group">
          <button 
            type="button"
            class="btn btn-outline-warning float-right"
            routerLink='..'
          >Cancel
          </button>
          <button 
            type="submit"
            class="btn btn-success float-right"
            [disabled]="!userDetailsForm.valid"
          >Save
          </button>
        </div>

      </form>
    </div>
  </div>


  <pre *ngIf="user">
    <!-- {{ user | json }} -->
  </pre>
</div>
