<div class="container">
  <br>

  <div class="row">
    <div class="col-xs-6 offset-xs-3">
      <h2>List of Users</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <button class="btn btn-primary" routerLink="new">New User</button>
    </div>
  </div>

  <br>
  
  <!-- all users in a table -->
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Number of Posts</th>
          <th scope="col">Number of Likes</th>
        </tr>
      </thead>
      <tbody>
        <!-- note the ngFor usage -->
        <tr *ngFor="let user of users; let i = index">
          <td>{{ i }}</td>
          <!-- note that we can use '{{...}} in attributes' -->
          <!-- also note that we're following a relative path here! 
          the router is instructed to go to the path 'id', which it 
          appends after 'users', where we are at now -->
          <td><a routerLink="{{i}}">{{ user.name }}</a></td>
          <td>{{ user.getNumberOfPosts() }}</td>
          <td>{{ user.getNumberOfLikes() }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- this router outlet is used when child routes are defined! -->
<div class="routeroutlet">
  <router-outlet></router-outlet>
</div>